In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

from scipy import stats
from scipy.stats import kendalltau
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("ecommerce.csv")

In [3]:
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Aging', 'Ship Mode',
       'Product Category', 'Product', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority', 'Customer ID',
       'Customer Name', 'Segment', 'City', 'State', 'Country', 'Region',
       'Months'],
      dtype='object')

In [4]:
df.head()

,Order ID,Order Date,Ship Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Discount,...,Shipping Cost,Order Priority,Customer ID,Customer Name,Segment,City,State,Country,Region,Months
0,AU-2015-1,11/9/15,11/17/15,8.0,First Class,Auto & Accessories,Car Media Players,$140.00,2,0.05,...,$4.60,Medium,LS-001,Lane Daniels,Consumer,Brisbane,Queensland,Australia,Oceania,Nov
1,AU-2015-2,6/30/15,7/2/15,2.0,First Class,Auto & Accessories,Car Speakers,$211.00,3,0.03,...,$11.20,Medium,IZ-002,Alvarado Kriz,Home Office,Berlin,Berlin,Germany,Central,Jun
2,AU-2015-3,12/5/15,12/13/15,8.0,First Class,Auto & Accessories,Car Body Covers,$117.00,5,0.01,...,$3.10,Critical,EN-003,Moon Weien,Consumer,Porirua,Wellington,New Zealand,Oceania,Dec
3,AU-2015-4,5/9/15,5/16/15,7.0,First Class,Auto & Accessories,Car & Bike Care,$118.00,2,0.05,...,$2.60,High,AN-004,Sanchez Bergman,Corporate,Kabul,Kabul,Afghanistan,Central Asia,May
4,AU-2015-5,7/9/15,7/18/15,9.0,First Class,Auto & Accessories,Tyre,$250.00,1,0.04,...,$16.00,Critical,ON-005,Rowe Jackson,Corporate,Townsville,Queensland,Australia,Oceania,Jul

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          51290 non-null  object
 1   Order Date        51289 non-null  object
 2   Ship Date         51290 non-null  object
 3   Aging             51289 non-null  float64
 4   Ship Mode         51290 non-null  object
 5   Product Category  51290 non-null  object
 6   Product           51290 non-null  object
 7   Sales             51290 non-null  object
 8   Quantity          51289 non-null  object
 9   Discount          51290 non-null  object
 10  Profit            51290 non-null  object
 11  Shipping Cost     51290 non-null  object
 12  Order Priority    51288 non-null  object
 13  Customer ID       51289 non-null  object
 14  Customer Name     51290 non-null  object
 15  Segment           51289 non-null  object
 16  City              51290 non-null  object
 17  State             51290 non-null  object
 18  Country           51290 non-null  object
 19  Region            51289 non-null  object
 20  Months            51290 non-null  object
dtypes: float64(1), object(20)
memory usage: 8.2+ MB

In [6]:
df.columns = [column.lower() for column in df.columns]
df.columns = df.columns.str.replace(' ', '_')

In [7]:
df = df.dropna()
df = df.drop('segment', axis=1)

In [8]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'aging', 'ship_mode',
       'product_category', 'product', 'sales', 'quantity', 'discount',
       'profit', 'shipping_cost', 'order_priority', 'customer_id',
       'customer_name', 'city', 'state', 'country', 'region', 'months'],
      dtype='object')

In [9]:
df['sales'] = df['sales'].str.replace('$',"")
df['sales'] = df['sales'].str.replace('.',"")
df = df[df.sales != ("0.xf")]
df = df[df.sales != ("0xf")]
df = df[df.sales != ('0.5.26')]

In [10]:
# Menghapus dua karakter paling belakang dari setiap nilai dalam kolom
df['sales'] = df['sales'].str.slice(stop=-2)
df['sales'] = df['sales'].str.slice(stop=-1)

# Mengubah kolom 'Angka' menjadi tipe integer
df['sales'] = df['sales'].astype(int)

In [11]:
df = df[df.discount != ('xxx') ] 
df = df[df.discount != ('test') ]

In [12]:
df['discount'] = df['discount'].astype(float)
df['discount'] = df['discount'] * 100

In [13]:
df['shipping_cost'] = df['shipping_cost'].str.replace('$',"")
df = df[df ['shipping_cost']!= ('test') ]
df['shipping_cost'] = df['shipping_cost'].astype(float)

In [14]:
df = df[df ['ship_mode']!= ('45788') ]

In [15]:
df = df[df.region != ('So3th') ] 
df = df[df.region != ('4orth') ]

In [16]:
df['profit'] = df['profit'].str.replace('$',"")
df['profit'] = df['profit'].astype(float)
df = df[df.quantity != ("abc")] 
df['quantity'] = df['quantity'].astype(float)

In [17]:
type_float = ['aging', 'quantity', 'discount', 'profit', 'shipping_cost']

for column in type_float:
    df[column] = df[column].astype(int)

In [18]:
date_columns = ["order_date", "ship_date"]
df[date_columns] = df[date_columns].apply(pd.to_datetime)

In [19]:
df.head().T

,0,1,2,3,4
order_id,AU-2015-1,AU-2015-2,AU-2015-3,AU-2015-4,AU-2015-5
order_date,2015-11-09 00:00:00,2015-06-30 00:00:00,2015-12-05 00:00:00,2015-05-09 00:00:00,2015-07-09 00:00:00
ship_date,2015-11-17 00:00:00,2015-07-02 00:00:00,2015-12-13 00:00:00,2015-05-16 00:00:00,2015-07-18 00:00:00
aging,8,2,8,7,9
ship_mode,First Class,First Class,First Class,First Class,First Class
product_category,Auto & Accessories,Auto & Accessories,Auto & Accessories,Auto & Accessories,Auto & Accessories
product,Car Media Players,Car Speakers,Car Body Covers,Car & Bike Care,Tyre
sales,140,211,117,118,250
quantity,2,3,5,2,1
discount,5,3,1,5,4
profit,46,112,31,26,160
shipping_cost,4,11,3,2,16
order_priority,Medium,Medium,Critical,High,Critical
customer_id,LS-001,IZ-002,EN-003,AN-004,ON-005
customer_name,Lane Daniels,Alvarado Kriz,Moon Weien,Sanchez Bergman,Rowe Jackson
city,Brisbane,Berlin,Porirua,Kabul,Townsville
state,Queensland,Berlin,Wellington,Kabul,Queensland
country,Australia,Germany,New Zealand,Afghanistan,Australia
region,Oceania,Central,Oceania,Central Asia,Oceania
months,Nov,Jun,Dec,May,Jul

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51275 entries, 0 to 51289
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          51275 non-null  object
 1   order_date        51275 non-null  datetime64[ns]
 2   ship_date         51275 non-null  datetime64[ns]
 3   aging             51275 non-null  int32
 4   ship_mode         51275 non-null  object
 5   product_category  51275 non-null  object
 6   product           51275 non-null  object
 7   sales             51275 non-null  int32
 8   quantity          51275 non-null  int32
 9   discount          51275 non-null  int32
 10  profit            51275 non-null  int32
 11  shipping_cost     51275 non-null  int32
 12  order_priority    51275 non-null  object
 13  customer_id       51275 non-null  object
 14  customer_name     51275 non-null  object
 15  city              51275 non-null  object
 16  state             51275 non-null  object
 17  country           51275 non-null  object
 18  region            51275 non-null  object
 19  months            51275 non-null  object
dtypes: datetime64[ns](2), int32(6), object(12)
memory usage: 7.0+ MB

In [21]:
cat_col = df.select_dtypes(include=['object']).columns.tolist()

for i in cat_col:
    print(i)
    print(df[i].value_counts())
    print('-'*30)

order_id
order_id
AU-2015-1        1
FA-2015-13688    1
FA-2015-13678    1
FA-2015-13679    1
FA-2015-13680    1
                ..
HF-2015-6904     1
HF-2015-6905     1
HF-2015-6906     1
HF-2015-6907     1
FA-2015-30775    1
Name: count, Length: 51275, dtype: int64
------------------------------
ship_mode
ship_mode
Standard Class    30775
Second Class      10309
First Class        7490
Same Day           2701
Name: count, dtype: int64
------------------------------
product_category
product_category
Fashion               30775
Home & Furniture      10309
Auto & Accessories     7490
Electronic             2701
Name: count, dtype: int64
------------------------------
product
product
Sports Wear               2827
Fossil Watch              2796
Titak watch               2795
Sneakers                  2795
Formal Shoes              2795
Running Shoes             2795
Casula Shoes              2795
Suits                     2795
T - Shirts                2794
Shirts                    2794
Jeans                     2794
Dinner Crockery           1053
Umbrellas                 1029
Shoe Rack                 1029
Dinning Tables            1029
Beds                      1029
Sofas                     1029
Bed Sheets                1028
Towels                    1028
Curtains                  1028
Sofa Covers               1027
Tyre                       890
Car Pillow & Neck Rest     828
Car & Bike Care            826
Car Seat Covers            826
Car Body Covers            825
Car Mat                    825
Car Media Players          824
Bike Tyres                 824
Car Speakers               822
Speakers                   261
Mixer/Juicer               224
LED                        224
LCD                        224
Iron                       221
Watch                      221
Samsung Mobile             221
Tablet                     221
Mouse                      221
Keyboard                   221
Apple Laptop               221
Fans                       221
Name: count, dtype: int64
------------------------------
order_priority
order_priority
Medium      29430
High        15495
Critical     3926
Low          2424
Name: count, dtype: int64
------------------------------
customer_id
customer_id
LS-001        1
KS-0023894    1
ON-0023884    1
ON-0023885    1
AN-0023886    1
             ..
ON-0047885    1
TH-0047886    1
NS-0047887    1
PE-0047888    1
RZ-0040981    1
Name: count, Length: 51275, dtype: int64
------------------------------
customer_name
customer_name
Mcclain O'Donnell     108
Spears Thornton       106
Booth Pistole         102
Flores Brooks         102
Bates Gockenbach      102
                     ...
Fleming Foster         35
Wheeler Donatelli      34
Kelley Devincentis     31
Beasley Pawlan         31
Oconnor Nelson         29
Name: count, Length: 795, dtype: int64
------------------------------
city
city
New York City      915
Los Angeles        746
Philadelphia       537
San Francisco      510
Santo Domingo      443
                  ...
Quevedo              1
Stolberg             1
Roermond             1
Lázaro Cárdenas      1
Felahiye             1
Name: count, Length: 3636, dtype: int64
------------------------------
state
state
California            2000
England               1499
New York              1128
Texas                  985
Ile-de-France          980
                      ...
Medea                    1
Okayama                  1
Pernik                   1
Ruvuma                   1
Matabeleland North       1
Name: count, Length: 1094, dtype: int64
------------------------------
country
country
United States    9993
Australia        2836
France           2826
Mexico           2641
Germany          2065
                 ...
Eritrea             2
Burundi             2
Bahrain             2
Swaziland           2
Chad                2
Name: count, Length: 147, dtype: int64
------------------------------
region
region
Central           11115
South              6642
EMEA               5029
North              4782
Africa             4586
Oceania            3486
West               3202
Southeast Asia     3128
East               2848
North Asia         2335
Central Asia       2048
Caribbean          1690
Canada              384
Name: count, dtype: int64
------------------------------
months
months
Jul    4445
Dec    4429
Mar    4411
Oct    4378
Jan    4365
Aug    4296
May    4293
Jun    4210
Nov    4206
Sep    4194
Apr    4172
Feb    3876
Name: count, dtype: int64
------------------------------

In [22]:
df.to_csv('ecommerce_data_cleaned1.csv', index=False)